body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(Rrv.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
}
header {
    background: rgba(0, 0, 0, 0.623);
    color: #27e4167a;
    padding: 1rem 0;
    text-align: center;
}
/*Pc*/
@media (min-width: 600px)
{   
    .vert{
        list-style-type: disc; /* Tipo de marcador: disc (padrão), circle, square, etc. */
        padding-left: 20px; /* Espaçamento à esquerda para os marcadores */
        display: inline-block;
        width: 100%;
    }
    .vert li {
        margin-bottom: 10px; /* Espaçamento entre os itens da lista */
    }
    .submenu{
        list-style-type: disc; /* Tipo de marcador: disc (padrão), circle, square, etc. */
        padding-left: 20px; /* Espaçamento à esquerda para os marcadores */
        width: 50%;
        display: inline-block;
    }

    nav {
        background: rgba(85, 85, 85,0.7);
        color: #ff0404;
        padding: 0.5rem 0;
    }
    
    nav ul {
        list-style: none;
        padding: 0;
        
    }
    nav ul li {
        display: inline;
        margin: 0 0.5rem;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    nav ul li a:hover{
        color: rgb(91, 236, 99);
    }
    section {
        margin: 2rem 0;
    }
    .container {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
    }

    .card {
    background: rgba(95, 95, 95, 0.5);
    padding: 1rem;
    margin: 1rem 0;
    color:#ffffff;
    border-radius: 8px;
    transition-delay: 0.1s ;
    transition-duration: 1s;    
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(4, 158, 12, 0.486);
        color: rgb(91, 236, 99);
    }
    footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        transition: ease-in-out 0.5s, ease-in 0.5s;
    }
    h2 {
        color:#ffffff;
    }
    
    #contato{
        margin-bottom: 10em;
    }
}

/*Mobile*/   
@media (max-width: 601px)
{
    .submenu {
        display: none;
        background: #666;
        padding: 0.5rem;      
    }
    .submenu a {
        display: block;
        color: #fff;
        padding: 0.5rem 0;
        text-decoration: none;
    }
    .submenu a:hover {
        background: #777;
    }

    nav ul {
        list-style: none;
        padding: 0;
        
    }
    nav ul li {
        display: inline;
        margin: 0 0.5rem;
    }
    nav ul li a {
        color: #fff;
        text-decoration: none;
    }
    nav ul li a:hover{
        color: rgb(91, 236, 99);
    }
    .container {
        width: 80%;
        margin: 0 auto;
        overflow: hidden;
        
    }
    section {
        margin: 2rem 0;
    }
    .card {
        background: rgba(95, 95, 95, 0.5);
        padding: 1rem;
        margin: 1rem 0;
        
        border-radius: 8px;
        transition-delay: 0.1s ;
        transition-duration: 1s;    
    }
    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(4, 158, 12, 0.486);
        color: rgb(91, 236, 99);
    }
    footer {
        background: #333;
        color: #fff;
        text-align: center;
        padding: 1rem 0;
        position: fixed;
        width: 100%;
        bottom: 0;
        transition: ease-in-out 0.5s, ease-in 0.5s;
    }
    h2 {
        color:#ffffff;
    }

    .custom-link {
        color: rgb(255, 255, 255); /* Cor padrão do link */
        text-decoration: none; /* Remover sublinhado */
    }
    
    /* Mudar a cor do link quando o mouse estiver sobre ele */
    .custom-link:hover {
        color: rgb(0, 255, 213); /* Cor ao passar o mouse */
    }
    #contaxo{
        margin-bottom: 10em;
        
    }
}